<main class="relative top-0 flex h-screen w-full flex-col justify-start items-center p-4 sm:p-6 gap-8">

  <!-- Header Section -->
  <h1 class="text-3xl font-bold tracking-tight  text-gray-400">Welcome back</h1>

  <!-- Form Field -->
  <form class="w-full max-w-sm space-y-8 mt-10">

    <!-- Email Field -->
    <div class="relative">
      <input type="email" name="email" required placeholder=" "
        class="peer w-full bg-transparent border-0 border-b-2 border-gray-300 px-0 py-2 text-base outline-none focus:ring-0  focus:border-[#248d4c]" />

      <label
        class="absolute left-0 top-2 text-base text-gray-400 transition-all duration-300 peer-focus:-top-5 peer-focus:text-sm peer-focus:text-[#248d4c] peer-valid:-top-5 peer-valid:text-sm peer-valid:text-[#248d4c]">
        Email
      </label>

      <span class="absolute left-0 bottom-0 h-[2px] w-0 bg-[#248d4c] transition-all duration-300 peer-focus:w-full">
      </span>
    </div>


    <!-- Password Field -->
    <div class="relative">
      <input type="password" name="password" required placeholder=" "
        class="peer w-full bg-transparent border-0 border-b-2 border-gray-300 px-0 py-2 text-base outline-none focus:ring-0  focus:border-[#248d4c]" />

      <label
        class="absolute left-0 top-2 text-base text-gray-400 transition-all duration-300 peer-focus:-top-5 peer-focus:text-sm peer-focus:text-[#248d4c] peer-valid:-top-5 peer-valid:text-sm peer-valid:text-[#248d4c]">
        Password
      </label>

      <span class="absolute left-0 bottom-0 h-[2px] w-0  bg-[#248d4c] transition-all duration-300 peer-focus:w-full">
      </span>
    </div>

  </form>

  <!-- Forgot Password Link -->
  <div class="flex justify-end -mt-5 w-[60%]">
    <a href="#" class="text-sm text-gray-500 transition-colors duration-300 hover:text-[#248d4c]">Forgot password?</a>
  </div>

  <!--Log In Button-->
  <div class="w-full flex justify-center mt-3">

    <button class="group w-sm flex items-center justify-center gap-2 py-3 rounded-2xl  bg-[#102217] text-white font-semibold transition duration-[1s] hover:bg-[#248d4c] active:scale-95" routerLink="/dashboard" type="submit">

      <!-- Text -->
      <span>Log in</span>

      <!-- Arrow Icon -->
      <span class="material-symbols-outlined text-[20px] transition-transform duration-200 group-hover:translate-x-1">
        arrow_forward
      </span>

    </button>

  </div>

  <!-- Divider -->
  <div class="relative flex items-center py-2 w-lg mt-4">
    <div class="flex-grow border-t border-slate-200 dark:border-slate-700"></div>
    <span class="flex-shrink-0 mx-4 text-slate-400 text-sm font-medium">New to LifeBoard?</span>
    <div class="flex-grow border-t border-slate-200 dark:border-slate-700"></div>
  </div>


  <!--Create an Account-->
  <div class="w-full flex justify-center mt-4">

  <!-- Button -->
  <button class="group w-[65%] flex items-center justify-center cursor-pointer" routerLink="/auth/signup" type="button">

    <!-- Text -->
    <span class="relative text-white uppercase tracking-widest text-sm pr-4 transition-colors duration-300 group-hover:text-[#248d4c]"> Create an account

      <!-- Underline -->
      <span class="absolute left-0 bottom-0 w-full h-[2px] bg-[#248d4c] scale-x-0 origin-right transition-transform duration-300 group-hover:scale-x-100 group-hover:origin-left">
      </span>

    </span>

    <!-- Arrow -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 16" class="w-7 h-3 ml-2 text-white -translate-x-2 transition-all duration-300 group-hover:translate-x-0 group-hover:text-[#248d4c] active:scale-90" fill="currentColor">
      <path d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z" transform="translate(30)"></path>
    </svg>

  </button>

  </div>

</main>

