<div
    class="bg-[#e2e8f0] dark:bg-[#2A4034] rounded-tr-4xl rounded-bl-4xl rounded-tl-lg rounded-br-lg p-5 shadow-elevation-2 border border-[#366348]/30 w-full h-full overflow-auto scrollbar-slim">
    <div class="flex items-center gap-2 mb-2 text-[#36e27b] ">
        <span class="material-symbols-outlined text-[18px] cursor-pointer">lightbulb</span>
        <span class="text-xs font-bold uppercase tracking-wider text-text-primary"> Idea</span>
    </div>
    <p class="text-text-secondary text-auto font-handwriting leading-relaxed cursor-auto">Currently contributing as a Software
        Developer at SMC Finance, with a focus on MEAN and MERN stack technologies to develop web applications. Holds a
        Bachelor of Science in Mathematics and Statistics from MDU, completed in 2020. Leveraging technical expertise in
        web application frameworks, including Angular and React, to deliver effective solutions.

        Experienced in software development with a track record of working in diverse roles, including Full Stack
        Developer at iTech Mission Pvt. Ltd. and Angular Developer at Almondz. Passionate about creating scalable and
        efficient web applications, focusing on functionality and user experience to meet organizational goals.</p>
</div>