<section>
    <div class="overflow-x-auto hide-scrollbar pb-4 -mx-4 px-4 md:mx-0 md:px-0">
        <div class="flex gap-4 min-w-max">
            @for (day of upcomingDays(); track day.fullDate.toISOString()) {
            <div [routerLink]="['/board']" [queryParams]="{ date: day.fullDate.toISOString() }"
                class="active:scale-95 flex flex-col items-center justify-center w-24 h-32 rounded-[1.5rem] bg-surface border border-white/5 hover:border-primary/50 transition-all cursor-pointer group">
                <span class="text-text-secondary text-xs font-medium uppercase mb-1">{{ day.day }}</span>
                <span class="text-xl font-bold text-text-secondary mb-2">{{ day.date }}</span>
                <div class="flex gap-1" [class.opacity-20]="day.tasks.length === 0">
                    @if (day.tasks.length > 0) {
                    @for (task of day.tasks; track $index) {
                    <div class="size-1.5 rounded-full" [class]="task.color"></div>
                    }
                    } @else {
                    <div class="size-1.5 rounded-full bg-white"></div>
                    }
                </div>
            </div>
            }
        </div>
    </div>
</section>